/.idea/
/target/
/pom.xml.versionsBackup
/Core/target/
/Core/pom.xml.versionsBackup
/NMS/target/
/NMS/pom.xml.versionsBackup
/API/target/
/API/pom.xml.versionsBackup
/MC_1_21_4/target/
/MC_1_21_4/pom.xml.versionsBackup
/MC_1_21_5/target/
/MC_1_21_5/pom.xml.versionsBackup
/MC_1_21_7/target/
/MC_1_21_7/pom.xml.versionsBackup
/MC_1_21_8/target/
/MC_1_21_8/pom.xml.versionsBackup