/.idea/
/target/
/pom.xml.versionsBackup
/Core/target/
/Core/pom.xml.versionsBackup
/NMS/target/
/NMS/pom.xml.versionsBackup
/API/target/
/API/pom.xml.versionsBackup
/MC_1_21/target/
/MC_1_21/pom.xml.versionsBackup
/MC_1_21_3/target/
/MC_1_21_3/pom.xml.versionsBackup